<?xml version="1.0" encoding="UTF-8"?>
<web-app
        xmlns="http://xmlns.jcp.org/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
        version="4.0">
    <display-name>sampler</display-name>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            /WEB-INF/sampler-servlet.xml
            /WEB-INF/root-context.xml
        </param-value>
    </context-param>

    <context-param>
        <param-name>log4jConfigLocation</param-name>
        <param-value>/WEB-INF/logback.xml</param-value>
    </context-param>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <listener>
        <listener-class>com.sampler.view.listener.SamplerContextListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>sampler</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value></param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>sampler</servlet-name>
        <url-pattern>*.htm</url-pattern>
        <url-pattern>*.xml</url-pattern>
        <url-pattern>*.json</url-pattern>
    </servlet-mapping>
    <!--Do no include html servlet mapping here as this would result in not throwing the right error codes listed below -->

    <welcome-file-list>
        <!-- maps to LoginController index -->
        <welcome-file>open/home.htm</welcome-file>
    </welcome-file-list>
</web-app>
